/* line 9, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/mappage.scss */
.container {
  width: 90%;
}

/* line 10, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/mappage.scss */
.jumb {
  background: url(/assets/droneMappage4-528f30e927f5328dc33924af4aa8c8df078b60c0f432e200afd47bf3ab006f91.jpg) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  color: white;
  padding-bottom: 80px;
  margin-top: 70px;
}

/* line 20, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/mappage.scss */
.btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
/* line 23, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/mappage.scss */
.btn-primary:hover {
  background: #7646c1;
}

/* line 28, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/mappage.scss */
div.jumb_transbox {
  margin-left: 10%;
  background-color: #ffffff;
  opacity: 0.6;
  width: 300px;
  height: 350px;
}

/* line 36, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/mappage.scss */
div.jumb_transbox h1 {
  font-weight: bold;
  color: #4B515D;
  padding: 5%;
  font-size: 4em;
  text-align: center;
  line-height: 130%;
}

/* line 46, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/mappage.scss */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */
  background: #3E4551;
}

/* line 53, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/mappage.scss */
#marqueeOne {
  color: #ff4444;
}

/* line 55, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/mappage.scss */
div.sidebarOne h4 {
  color: #eeeeee;
  text-align: center;
  border-top: 1px solid #ffffff;
}

/* line 60, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/mappage.scss */
.footerText {
  display: inline-block;
}

/* line 64, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/mappage.scss */
small {
  display: inline-block;
  font-weight: bold;
  margin-left: 20px;
  vertical-align: middle;
}

/* line 70, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/mappage.scss */
#designOne {
  background-color: #1C2331;
  opacity: 0.9;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  color: #ffffff;
}
/* line 1, /Users/rajayi/DroneZone_Official2/secret-brook-58215/app/assets/stylesheets/scaffolds.scss */
.container {
  width: 90%;
}

/* line 3, /Users/rajayi/DroneZone_Official2/secret-brook-58215/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 60px;
  /* Height of the footer */
}

/* line 12, /Users/rajayi/DroneZone_Official2/secret-brook-58215/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 18, /Users/rajayi/DroneZone_Official2/secret-brook-58215/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 24, /Users/rajayi/DroneZone_Official2/secret-brook-58215/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 27, /Users/rajayi/DroneZone_Official2/secret-brook-58215/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 31, /Users/rajayi/DroneZone_Official2/secret-brook-58215/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 38, /Users/rajayi/DroneZone_Official2/secret-brook-58215/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 43, /Users/rajayi/DroneZone_Official2/secret-brook-58215/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 47, /Users/rajayi/DroneZone_Official2/secret-brook-58215/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 53, /Users/rajayi/DroneZone_Official2/secret-brook-58215/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 61, /Users/rajayi/DroneZone_Official2/secret-brook-58215/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 72, /Users/rajayi/DroneZone_Official2/secret-brook-58215/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 5, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/theme.css.scss */
.container {
  width: 90%;
}

/* line 8, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/theme.css.scss */
.jumbotron {
  background: url(/assets/drone4-ec1bd77142f0826fef88a73c3e836acd3e8d8d3374d7ec2474f39b6160c5d4a5.jpg) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  color: white;
  padding-bottom: 80px;
}
/* line 18, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/theme.css.scss */
.navbar + .jumbotron {
  margin-top: -20px;
}

/* line 23, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/theme.css.scss */
.btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
/* line 26, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/theme.css.scss */
.btn-primary:hover {
  background: #7646c1;
}

/* line 31, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/theme.css.scss */
p {
  /*color: lighten($brand-primary, 50%);*/
  color: #FFFFFF;
  max-width: 75%;
  margin: 1em auto 2em;
}

/* line 39, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/theme.css.scss */
.lang-logo {
  display: block;
  background: white;
  border-radius: 50%;
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin: auto;
  border: 2px solid white;
}
/* line 48, /Users/rajayi/Dronezone_Official3/secret-brook-58215/app/assets/stylesheets/theme.css.scss */
.lang-logo img {
  max-width: 100%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


@import 'foundation-icons';

@font-face {
  font-family: "foundation-icons";
  src: font-url( asset-path("foundation-icons.eot") );
  src: font-url( asset-path("foundation-icons.eot?#iefix") ) format("embedded-opentype"),
       font-url( asset-path("foundation-icons.woff") ) format("woff"),
       font-url( asset-path("foundation-icons.ttf") ) format("truetype"),
       font-url( asset-path("foundation-icons.svg#fontcustom") ) format("svg");
  font-weight: normal;
  font-style: normal;
}
