<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('drone.png') %>">
    </a>
    <h1>Welcome To DroneZone</h1>
    <h3>Drone Tracking & Safety Application</h3>
    <p>DroneZone provides a comprehensive and fully FAA compliant tracking web based application for all of your UV drones.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://dronezone.selfip.net"><span class="glyphicon glyphicon-flash"></span> Getting Started with DroneZone</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://secret-brook-58215.herokuapp.com/"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Test application <a href="https://secret-brook-58215.herokuapp.com/" class="alert-link">Test Application.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Track Your Drones Like Never Before</h3>
      <ul>
        <li></li>

        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Safety is Key</h3>
      <ul>
        <li></li>
        <li></li>
        <ul>
          <li><code></code> </li>
          <li><code></code></li>
          <li><code></code> </li>
          <li></li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Learn More</h3>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please check back for updates.
  </div>
</div>
