<div class="jumbotron text-center body_padding" style="margin-top: 5%;">
  <div class="container" >
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('drone.png') %>">
    </a>
    <h1>Welcome To DroneZone</h1>
    <h3>Drone Tracking & Safety Application</h3>
    <p>DroneZone provides a comprehensive and fully FAA compliant tracking web based application for all of your UV drones.</p>
    <a type="button" class="btn btn-lg btn-default" href="/drones/"><span class="glyphicon glyphicon-flash"></span> Getting Started with DroneZone</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://secret-brook-58215.herokuapp.com/"></span> Source on GitHub</a>
  </div>
</div>
<div class="container body_padding" style="padding:10px; padding-bottom:50px;   /* Set relative to Height of the footer */">
  
</div>
