<div style="margin-top: 5%;">
	<div class="container">
		<h2 class="panel" style="text-align: center; background: rgba(0,0,0,0.85); color: rgba(255,255,255,0.9); padding: 5px;">New Drone</h2>
		<%= render 'form' %>
	</div>
</div>