<p id="notice"><%= notice %></p>
<div class="jumb" style="width: 100%; height: 400px">
	<div class="jumb_transbox">
		<h1>KNOW</br>BEFORE</br>YOU FLY</h1>
		<button href="" type="button" class="btn btn-danger" style="display: block; margin: 0 auto; text-align: center; font-weight: bold;">Current FAA Regulations</button>
	</div>
</div>